html, body, .table {
  height: 90%;
}

body {
  background: #333;
  color: #ccc;
  text-shadow: rgba(0,0,0,1) 0 2px 2px;
}

p {
  font-family: "Helvetica", "Helvetica Neue", "Arial", sans-serif;
  color: #aaa;
  font-size: 18px;
}

h1 {
  font-family: "jaf-domus-titling-web", "Helvetica", "Helvetica Neue", "Arial", sans-serif;
  font-size: 48px;
}

.table {
  text-align: center;
  display: table;
  width: 100%;
}

.wrapper {
  display: table-cell;
  vertical-align: middle;
}
