---
layout: page
title: Components
permalink: /components/
---

<h2>Fonts</h2>
<div class="well">
  <h1 class="scifi remove-vertical-margins">Heading 1 in JAF Domus Titling</h1>
  <h2 class="scifi remove-vertical-margins">Heading 2 in JAF Domus Titling</h2>
  <h3 class="scifi remove-top-margin">Heading 3 in JAF Domus Titling</h3>
  <p class="scifi">JAF Domus Titling Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

<h2>Splash pages</h2>
<div class="layout-splash" style="height: 500px">
  <div class="wrapper">
    <div class="vertical-middle text-center">
      <h1 class="splash-title">Splash title</h1>
      <p>Splash runner line</p>
    </div>
  </div>
</div>

<h2>Tables</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <td>Bootstrap table header</td>
      <td>Second column header</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>First cell content</td>
      <td>Second cell content</td>
    </tr>
    <tr>
      <td>Second row first cell content</td>
      <td>Second row second cell content</td>
    </tr>
  </tbody>
</table>
