---
layout: page
title: Components
permalink: /components/
---

<h2>Call to action</h2>
<div class="clearfix">
  <div class="pull-left" style="padding: 30px; background: #fff">
    <div class="cta cta-default"></div>
  </div>
  <div class="pull-left" style="padding: 30px; background: #000">
    <div class="cta cta-default cta-light"></div>
  </div>
</div>

<h2>Throbber</h2>
<div class="clearfix">
  <div class="pull-left" style="padding: 30px;">
    <div class="throbber throbber-default"></div>
  </div>
  <div class="pull-left" style="background-color: rgb(237, 220, 134); padding: 30px;">
    <div class="throbber throbber-default"></div>
  </div>
  <div class="pull-left" style="background-color: rgb(134, 190, 237); padding: 30px;">
    <div class="throbber throbber-default"></div>
  </div>
  <div class="pull-left" style="background-color: rgb(237, 134, 134); padding: 30px;">
    <div class="throbber throbber-default"></div>
  </div>
  <div class="pull-left" style="background-color: #333; padding: 30px;">
    <div class="throbber throbber-default throbber-light"></div>
  </div>
  <div class="pull-left" style="background-color: #999; padding: 30px;">
    <div class="throbber throbber-default throbber-light"></div>
  </div>
  <div class="pull-left" style="background-color: #4157AB; padding: 30px;">
    <div class="throbber throbber-default throbber-light"></div>
  </div>
</div>
<div class="clearfix add-top-margin">
  <div class="pull-left" style="padding: 30px;">
    <div class="throbber throbber-big"></div>
  </div>
  <div class="pull-left" style="background-color: rgb(237, 220, 134); padding: 30px;">
    <div class="throbber throbber-big"></div>
  </div>
  <div class="pull-left" style="background-color: rgb(134, 190, 237); padding: 30px;">
    <div class="throbber throbber-big"></div>
  </div>
  <div class="pull-left" style="background-color: rgb(237, 134, 134); padding: 30px;">
    <div class="throbber throbber-big"></div>
  </div>
  <div class="pull-left" style="background-color: #333; padding: 30px;">
    <div class="throbber throbber-big throbber-light"></div>
  </div>
  <div class="pull-left" style="background-color: #999; padding: 30px;">
    <div class="throbber throbber-big throbber-light"></div>
  </div>
  <div class="pull-left" style="background-color: #4157AB; padding: 30px;">
    <div class="throbber throbber-big throbber-light"></div>
  </div>
</div>

<h2>Fonts</h2>
<div class="well">
  <h3 class="remove-top-margin">JAF Domus Titling</h3>
  <h1 class="scifi-title remove-vertical-margins">Heading 1 in JAF Domus Titling</h1>
  <h2 class="scifi-title remove-vertical-margins">Heading 2 in JAF Domus Titling</h2>
  <h3 class="scifi-title remove-top-margin">Heading 3 in JAF Domus Titling</h3>
  <p class="scifi-title">JAF Domus Titling Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis <strong>nostrud exercitation</strong> ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  <h3>Automate</h3>
  <h1 class="scifi-body remove-vertical-margins">Heading 1 in JAF Domus Titling</h1>
  <h2 class="scifi-body remove-vertical-margins">Heading 2 in JAF Domus Titling</h2>
  <h3 class="scifi-body remove-top-margin">Heading 3 in JAF Domus Titling</h3>
  <p class="scifi-body">JAF Domus Titling Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis <strong>nostrud exercitation</strong> ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

<h2>Splash pages</h2>
<h3>Default</h3>
<div class="theme-default">
  <div class="page-type-splash" style="height: 500px">
    <div class="wrapper">
      <div class="vertical-middle text-center">
        <h1 class="splash-title">Splash title</h1>
        <p>Splash runner line</p>
        <a href="#" class="cta cta-default cta-light double-top-margin"></a>
      </div>
    </div>
  </div>
  <div class="page-type-splash add-top-margin" style="height: 500px">
    <div class="wrapper">
      <div class="vertical-middle splash-content">
        <p>“If you’re born in a cubicle and grow up in a corridor, and work in a cell, and vacation in a crowded sun-room, then coming up into the open with nothing but sky over you might just give you a nervous breakdown.” <b>― Isaac Asimov, Foundation</b></p>
        <div class="text-center double-top-margin">
          <a href="#" class="cta cta-default cta-light text-center"></a>
        </div>
      </div>
    </div>
  </div>
</div>

<h3>Health and Safety</h3>
<div class="theme-health-and-safety ">
  <div class="page-type-splash" style="height: 500px">
    <div class="wrapper">
      <div class="vertical-middle text-center">
        <h1 class="splash-title">Splash title</h1>
        <p>Splash runner line</p>
        <a href="#" class="cta cta-default cta-light double-top-margin"></a>
      </div>
    </div>
  </div>
  <div class="page-type-splash add-top-margin" style="height: 500px">
    <div class="wrapper">
      <div class="vertical-middle splash-content">
        <p>“If you’re born in a cubicle and grow up in a corridor, and work in a cell, and vacation in a crowded sun-room, then coming up into the open with nothing but sky over you might just give you a nervous breakdown.” <b>― Isaac Asimov, Foundation</b></p>
        <div class="text-center double-top-margin">
          <a href="#" class="cta cta-default cta-light text-center"></a>
        </div>
      </div>
    </div>
  </div>
</div>

<h2>Tables</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Bootstrap table header</th>
      <th>Second column header</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>First cell content</td>
      <td>Second cell content</td>
    </tr>
    <tr>
      <td>Second row first cell content</td>
      <td>Second row second cell content</td>
    </tr>
  </tbody>
</table>
