html,
body,
.wrapper {
  height: 100%;
}

body {
  font-family: $font-family-helvetica;
  font-size: 18px;
}

.layout-splash {
  background: #333;
  color: #eee;

  .splash-title {
    font-family: $font-family-scifi;
    font-size: 48px;
    text-shadow: rgba(0,0,0,1) 0 2px 2px;
  }
}
