.cta {
  font-size: 0;
  line-height: 0;
  color: transparent;
  display: inline-block;
  background: #000;
  border: 15px double #fff;
  transition: transform 100ms;

  &.cta-light {
    background: #fff;
    border-color: #000;
  }

  &:hover {
    border-width: 10px;
    transform: scale(1.4);
  }

  &:active {
    transform: scale(0.8);
  }
}

.cta-default {
  @include circle(50px);
}

.cta-big {
  @include circle(100px);
}
