@mixin border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin vertical-middle {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* ==========================================================================
   Margin mixins
   ========================================================================== */

@mixin add-vertical-margins($important: "") {
  @include add-top-margin($important);
  @include add-bottom-margin($important);
}

@mixin add-top-margin($important: "") {
  margin-top: $default-vertical-margin #{$important};
}

@mixin add-bottom-margin($important: "") {
  margin-bottom: $default-vertical-margin #{$important};
}

@mixin add-right-margin($important: "") {
  margin-right: $default-horizontal-margin #{$important};
}

@mixin add-left-margin($important: "") {
  margin-left: $default-horizontal-margin #{$important};
}

@mixin add-label-margin {
  margin-bottom: $default-label-margin;
}

/* ==========================================================================
   Padding mixins
   ========================================================================== */

@mixin add-vertical-padding($important: "") {
  @include add-top-padding($important);
  @include add-bottom-padding($important);
}

@mixin add-top-padding($important: "") {
  padding-top: $default-vertical-padding #{$important};
}

@mixin add-bottom-padding($important: "") {
  padding-bottom: $default-vertical-padding #{$important};
}
