.layout-splash {
  background: #111;
  color: #eee;
  font-family: $font-family-scifi-body;

  .splash-title {
    font-family: $font-family-scifi-title;
    font-size: 48px;
    text-shadow: rgba(0,0,0,1) 0 2px 2px;
    letter-spacing: 0.25em;
  }
}
