@import 'bootstrap-sprockets';
@import 'bootstrap';

html,
body,
.wrapper {
  height: 100%;
}

body {
  background: #333;
  color: #ccc;
  text-shadow: rgba(0,0,0,1) 0 2px 2px;
  margin: 0;
}

p {
  font-family: "Helvetica", "Helvetica Neue", "Arial", sans-serif;
  color: #aaa;
  font-size: 18px;
}

h1 {
  font-family: "jaf-domus-titling-web", "Helvetica", "Helvetica Neue", "Arial", sans-serif;
  font-size: 48px;
}

.full-height {
  height: 100%;
}

.vertical-middle {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0;

  // Prevent collapsing margins from creating a page that scrolls
  padding: 1px 0;
}
